---
import HeaderLink from './HeaderLink.astro';
import { HOMEPAGE_URL } from '../consts';
import {IoLogoGithub} from 'react-icons/io5/index.js'
---

<header class="fixed w-full pq2 z-20 backdrop-blur-md">
    <div class="mx-auto max-w-3xl ">
    <nav class="flex items-center gap-3 text-base">
	<h2  class="font-semibold tracking-tighter p-2 font-roboto text-lg">
                null
	</h2>
     <div class="items-center gap-6 hidden md:flex">
    <HeaderLink href={HOMEPAGE_URL}>About</HeaderLink>
    <HeaderLink href="https://github.com/withastro/astro" target="_blank"><IoLogoGithub/>Source</HeaderLink>
     </div>
	</nav>
    </div>
    <div class="flex-1">
    </div>
</header>

